<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../Imagenes/logo.png">
    <link rel="stylesheet" href="../ccs/style.css">
    <title>Tratamientos</title>
</head>
<body>
    <main>
    <header class="estiloHead">
        <div class="Fixed">
        <img class="imgLogo" src="../Imagenes/logo.JPG" alt="Es el logo del sitio web">     
        <nav>
            <ul class="estiloLista">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="#Faciales">Faciales</a></li>
                <li><a href="#Corporales">Corporales</a></li>
                <li><a href="Capilares">Capilares</a></li>
                <li><a href="#contacto">Contacto</a></li>                         
            </ul>
        </nav>
        </div>
    </header>
         <section class="estilotrata">
        <div class="contfacial">
        <img class="imgtrat" src="../Imagenes/facialTratamientos.jpg" alt="">
              <article id="Faciales">                
                <h2 class="titulos">Tratamientos Faciales</h2>
                <div class="txt">
                <h2>Mesoterapia:</h2>
                <h3>Es un tratamiento médico que consiste en la introducción de sustancias activas mediante múltiples micro-inyecciones superficiales. Permite contrarrestar y prevenir los signos de envejecimiento facial . Los resultados de la mesoterapia son visibles de forma inmediata. Su efecto terapéutico es superior al de la vía tópica y por ello es una técnica utilizada en todo el mundo por médicos especializados. Además , tiene una probada eficacia en el tratamiento capilar para combatir problemas de debilidad o la caída del cabello.</h4>
                <h3>¿Qué beneficios tiene?
                    Mayor Hidratación
                    Regenera y Tonifica
                    Activa la microcirculación sanguínea de la dermis.
                    Disminuye la apariencia de las arrugas.
                    Previene el envejecimiento prematuro de la piel.
                    Promueve formación de colágeno y elastina.
                    Contrarresta el efecto de los radicales libres.</h3>
            <h2>Fillers:</h2>
                <h3>Los rellenos faciales son sustancias inyectadas en la piel para alisar las arrugas y hacerlas menos notorias. La inyección de un relleno facial suele ser un procedimiento ambulatorio que se realiza con medicamento anestésico local. El procedimiento lleva hasta una hora.
                    Puedes sentir una molestia leve o presentar hematomas o hinchazón durante una semana como máximo. Una vez que la hinchazón ceda, podrías necesitar una inyección de retoque para obtener un resultado óptimo. La duración del efecto depende de factores como el tipo de arruga y el relleno utilizado, entre otros factores.
                    Por lo general, los rellenos faciales, o rellenos de tejido blando, no se suelen usar en personas con sistemas inmunitarios suprimidos o que toman medicamentos anticoagulantes.</h3>
            <h2>Limpieza facial</h2>
                <h3>Todos los días, la suciedad se acumula en la superficie de la piel y en los poros : polvo, sebo , células muertas , maquillaje etc. Signos de contaminación de la piel : piel opaca , dispersión de pequeños granos, puntos negros, poros dilatados, impurezas.  La piel sana y limpia debe lucir suave , hidratada y radiante (no debe confundirse con “brillo de piel grasa”). Si la tuya aún está lejos  de este ideal entonces tal vez sea hora de que pruebes una limpieza profunda profesional. Ayudará a eliminar las impurezas a un nivel más profundo de tal manera que se remuevan las células muertas brindando suavidad y limpieza a tu  piel.</h3>
            <h2>Dermapen</h2>
                <h3>Es un tratamiento facial totalmente novedoso que rejuvenece y mejora la piel , sin efectos secundarios . Facilita la apertura de microcanales que favorecen la absorción transdérmica de los activos y estimula los efectos de producción de colágeno y elastina. Se realiza con un sistema de microagujas de titanio estériles ,  descartables . Con este tratamiento se consigue una piel más elástica, firme, luminosa. Ideal para tratar marcas y  cicatrices de acné.
                    ¿Cuáles son los principales beneficios?
                    Favorece la penetración profunda de los principios activos. 
                    Mejora las arrugas y líneas finas, estimula fibras de colágeno y elastina, reduce el tamaño de los poros, regenera las marcas de acné . 
                    Un tratamiento ideal para eliminar imperfecciones y lucir una piel más luminosa.</h3>
            <h2>Lifting sin cirugia</h2>
                <h3>La Crio- Radiofrecuencia de Body Health es una terapia no invasiva que combina la transmisión de frio y calor desde cabezal a la dermis. Esta combinación causa un shock térmico provocando un tensado instantáneo y duradero. A su vez genera un estimulo en la nueva formación de fibras de colageno y elastina , que le devuelve a la piel su firmeza y elasticidad .  </h3>
            </div>
            </article>
        </div>
        <div class="contcorp">
           <img class="imgtrat" src="../Imagenes/CUERPO2.jpg" alt="Foto tratamiento Facial">
           <article id="Corporales">
            <h2 class="titulos">Tratamientos Corporales</h2>
            <div class="txt">
            <h2>Fosfatidilcolina- Lipolisis quimica</h2>
           <h3>El tratamiento médico consiste inyecciones de fosfatidilcolina, un extracto derivado de la lecitina de soja que forma parte estructural de membranas celulares de nuestro cuerpo y no produce reacciones alérgicas, ya que el organismo no la reconoce como extraña, se diseña un plan de tratamiento de serie de sesiones.
            Las indicaciones para el uso estético de la fosfatidilcolina son limitadas y se restringen a pequeños depósitos de adiposidad localizada, en pacientes con peso ideal o con sobrepeso leve, y es conveniente complementar el tratamiento con dieta y actividad física.</h3>
            <h2>Enzimas biológicas</h2>
            <h3>PBSerum® Cosmeceuticals . Proteínas Enzimáticas . Enzimas Recombinantes . es una línea de cosmecéuticos que por sus características bioquímicas, su potente acción sobre el tejido cutáneo y su efecto estimulador de activos, se aproximan a la categoría de fármacos.
                INDICACIONES: Flaccidez, piel de naranja, celulitis, retención de líquido, adiposidad localizada, cicatrices, quemaduras.</h3>
         <h2>Mesoterapia</h2>
        <h3>es una técnica en medicina estética que consiste en la aplicación de microinyecciones con sustancias especificas según la necesidad de la piel de la región a tratar con eleccion del principio activo o la formula, asi podemos mediar diferentes efectos dermicos que mejoran la calidad y el aspecto de la piel.
            Las inyecciones son aplicadas a nivel superficial, intradérmico, a unos 3 ó 4 mm de profundidad máxima exactamente en la zona a tratar. Se realiza mediante agujas muy finas, que no suelen ser dolorosas debido a su tamaño reducido y a que se aplica muy poca medicación.
            Cada sesión tiene una duración de aproximadamente 30-45 minutos, ya que se realiza la preparacion previa de la piel segun el motivo de consulta y el plan de tratamiento a seguir.
            El número de sesiones necesarias lo acordaderemos en función de la zona a tratar y el plan de tratamiento, pero no menos de cuatro sesiones.</h3>
        </div>
        </article>
        </div>
   <div class="contcap">
        <img class="imgtrat" src="../Imagenes/Capilarhombre1.JPG" alt="Foto tratamiento capilar">
        <article id="Capilares">  
        <h2 class="titulos">Tratamientos Capilares</h2>
          <div class="txt">
            <h3>Abordaje integral con Mesoterapia, tratamiento topico y tratamento medico via oral.</h3>
        <h2>Mesoterapia capilar</h2>
            <h3>A través de microinyecciones se aplican diferentes tipos de medicamentos que tienen una acción local y brindan una gran seguridad al no pasar a la circulación sistémica ( el efecto es solo local). Cada principio activo tiene una función determinada con el objetivo de prolongar  la vida del pelo. . En algunos casos el procedimiento puede ser mas doloroso que en otros y existe la opción de hacer bloqueos tronculares del cuero cabelludo , logrando así que la técnica sea mas cómoda para el paciente y no se abandone el tratamiento.
                Los farmacos mas efectivos son dutasteride, finasteride , minoxidil, bimatoprost, las concetraciones y frecuencia de cada una va a quedar a cargo del tricólogo y del tipo de alopecia . Tambien la tecnica se usa para aplicar corticoides en el cuero cabelludo . Este tratamiento no es invalidante ni requiere cuidados posteriores, no deja marcas ni tampoco hace falta una preparación previa.</h3>
            <h2>Plasma rico en plaquetas</h2>
            <h3>Es un procedimiento efectivo y seguro para las alopecias androcronogenéticas , revitalizando el cabello en fase de miniaturización y logrando una mejor calidad de la fibra capilar . Se recomienda hacerlo cada 3 meses.</h3>
        </div>
        </article>
    </div>
       </section>
    </div>
   
    <footer class="contacto">     
        <nav>
        <h2 class="estiloContacto">Contacto</h2>
        <h3>Ven a conocernos</h3>
        <div class="pie">
        <img class="Formulario" src="../Imagenes/Formulary.png" alt="imagen de Formulario">
        <ul class="estiloRedes">
            <li><img class="imgRedes" src="../Imagenes/insta.jpg" alt=""><a href="https://www.instagram.com/dra.blancolima/?hl=es">Instagram</a></li>
            <li><a href="">Facebook</a></li>      
        </ul>
            <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d1642.1210754156934!2d-58.40253104127807!3d-34.59803779999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e0!4m0!4m5!1s0x95bcca91592ccb6f%3A0xc174118040fecad7!2sParaguay%202342%2C%20C1121ABL%20CABA!3m2!1d-34.5980378!2d-58.4014367!5e0!3m2!1ses!2sar!4v1656869229863!5m2!1ses!2sar" width="400" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> 
        </div>
        </nav>
    </footer>
    </main>

</body>
</html>
